$cream = #fdfdfd

// Placeholder text
$dust = #a9a9a9

// Slack-like code highlighting
$codeText = #c25
$codeBg = #f1f1f3
$codeBorder = #e1e1e8

$ebony = #4e5b68
$ivory = #f5f5f7

// Greens
$leaf = #9ba782
$fresh = #849974

// Yellows
$paperFoldYellow = #e5a03e
$notice = #c51162

// Theme: Storm
$storm = #494e6b
$cloud = #98878f
$sunset = #985e6d
$evening = #192231

// Theme: Nordic
$powderBlue = #4abdac
$cotton = #99ced4
$blush = #eeb6b7
$smoke = #6e7376
