@font-face
  font-family 'Gotham Light'
  src url('../fonts/gotham/gotham_light.otf')

@font-face
  font-family 'Gotham Book'
  src url('../fonts/gotham/gotham_book.otf')

@font-face
  font-family 'Gotham Medium'
  src url('../fonts/gotham/gotham_medium.otf')
